<%#encoding:UTF-8%><dl<%= attr?('role') ? %( class="#{attr 'role'}") : nil %>><%
  items.each do |terms, dd|
    [*terms].each do |dt| %>
<dt<%= attr?('style') ? %( class="#{attr 'style'}") : nil %>><%= dt.text %></dt><%
    end
    unless dd.nil? %>
<dd><%
      if dd.text? %>
<p><%= dd.text %></p><%
      end
      if dd.blocks? %>
<%= dd.content %><%
      end %>
</dd><%
    end
  end %>
</dl>
