<%#encoding:UTF-8%><% if option? 'collapsible' %><details<%= @id && %( id="#{@id}") %><%= attr?('role') ? %( class="#{attr 'role'}") : nil %>>
<summary class="title"><%= title %></summary>
<div class="content">
<%= content %>
</div>
</details><% else %><div<%= @id && %( id="#{@id}") %> data-type="example"<%= attr?('role') ? %( class="#{attr 'role'}") : nil %>>
<h5><%= title %></h5>
<%= content
%></div><% end %>
